
header {
  display: flex;
  position: absolute;
  background: none;
  justify-content: center;
  margin: 10px;
  padding:10px;

  a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 20px;

    &:hover, &.active {
      color: #333;
    }
  }
}
